:root { 
 
    --font-size-l: 20px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 24px;
    --font-size-xs: 10px;
    --font-size-xxl: 32px;
    --font-size-xxxl: 40px;
   
    --font-family-inter: "Inter", Helvetica;
    --font-family-merriweather: "Merriweather", Helvetica;
  }
  .inter-bold-eerie-black-32px {
    color: #1e1e1e;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-medium-eerie-black-14px {
    color: #1e1e1e;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .inter-bold-eerie-black-24px {
    color: #1e1e1e;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-white-32px {
    color: white;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .merriweather-normal-eerie-black-20px {
    color: #1e1e1e;
    font-family: var(--font-family-merriweather);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-eerie-black-40px {
    color: #1e1e1e;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .merriweather-normal-eerie-black-24px {
    color: #1e1e1e;
    font-family: var(--font-family-merriweather);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-medium-eerie-black-12px {
    color: #1e1e1e;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .inter-bold-white-20px {
    color: white;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  